form{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    padding: 1rem;
}

input{
    width: 100%;
    height: 40px;
    background-color: var(--white);
    padding: 0.5rem;
    border-radius: 15px;
}

button{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}