:root{
    --white: #fff;
    --grey: #3f3b3b;
    --black: #000;
}
form{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    padding: 1rem;
}

input{
    width: 100%;
    height: 40px;
    background-color: var(--white);
    padding: 0.5rem;
    border-radius: 15px;
}

button{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.item {
    display: flex; align-items: center; 
    gap: 12px; 
    padding: 8px 0; 
}

.item-checkbox { 
    width: 18px; 
    height: 18px; 
} 

.item-quantity { 
    width: 50px; 
    padding: 4px;
    color: var(--black);
}