.item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 12px; 
    padding: 8px 0; 
}
.item-left { 
    display: flex;  
    gap: 8px;  
}

.item-checkbox { 
    width: 18px; 
    height: 18px; 
} 

.item-quantity { 
    width: 50px; 
    padding: 4px;
    margin-right: 1rem;
    color: var(--black);
}