:root{
    --white: #fff;
    --grey: #3f3b3b;
    --lightgrey: #c5cbc8e3;
    --black: #000;
}

.item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 12px; 
    padding: 8px 0; 
}
.item-left { 
    display: flex;  
    gap: 8px;
    align-items: center;
}

.item-checkbox { 
    width: 18px; 
    height: 18px; 
} 

.item-quantity { 
    max-width: 50px;
    width: auto; 
    padding: 4px;
    margin-right: 1rem;
    border-radius: 4px;
    background-color: var(--white);
    border: 1px solid var(--lightgrey);
    height: auto;
}